@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin:1vh 0 0 0;
    padding: 0;
}
.lock{
    height:10vh;
    width:10vw;
    margin: 2vh 0 2vw 0;
}
.titlebox{
    height:21vh;
    padding:2vh 2vw;
    display: flex;
}
.title{
    font-variant: small-caps;
    height:10vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 300%;
     background: -webkit-linear-gradient(rgb(12, 171, 49), rgb(204, 240, 58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: 2px 21px 100px #787878;
}
.passgen{
    border-radius: 3%;
    padding: 2vh 2vw 5vh 2vw;
    width:40vw;
    margin:2vh 2vw ;
    background-color: rgb(118, 117, 117);
}
.result{
    color:white;
    padding: 2vh 2vw;
    width:40vw;
}
.head{
    font-size: 5vh;
    color: rgb(219, 219, 219);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    font-weight: bold !important;
}
.disp{
    color:black;
    font-weight: bold;
    border-radius: 1%;
    margin:2vh 9vw ;
    padding: 5vh 2vw;
    height:10vh;
    background-color: white;
    width:20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#res{
    font-size: 3vh;
}