@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #001F3F !important;
    text-align: center;
}

.navbar {
    height: 10vh;
}

.headT {
    margin: 20px 10px 10px 10px;
    padding: 20px;
    border-radius: 10px;
}

.container-fluid {
    background-color: #6A9AB0 !important;
    height: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.h1 {
    height: 100%;
    width: 35vw;
    color: #001F3F !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 900 !important;
    font-style: normal;
    font-size: 50px !important;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #031dad;
    background-color: #ffffc7;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #eeee19;
    color: #000000;
    border-radius: 1rem;
    border: none;
    margin: auto;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #eeee19;
    color: #000000;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}