body{
    background-color: rgb(191, 191, 191);
}
.c1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock{
    color:purple;

}
#mar-box{
    display:flex;
    align-items: center;
    justify-content: center;
}
.box{
    height:80vh;
    width:80vw;
    background-color: rgb(220, 220, 220);
    border: 10px solid black;
}
.text{
    margin:20px;
    font-weight: 200;
    font-size: 50px;
    color: blue;
}
#time{
    font-size: 130px;
    margin: 0 230px;
}
#Day{
    font-size: 90px;
    margin: 0 230px;
}